<ul class="nav nav-pills">
  <li role="presentation">@Html.ActionLink("Links Index", "Index", "Home")</li>
  <li role="presentation">@Html.ActionLink("Forms Index", "Forms", "Home")</li>
  <li role="presentation">@Html.ActionLink("Links Index On Subdomain", "SubdomainsPage", "Home")</li>
  <li role="presentation">@Html.ActionLink("Forms Index On Subdomain", "SubdomainFormsPage", "Home")</li>
</ul>