@Html.Partial("_NavPills")
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Subdomains page&nbsp;<small>here you can check if links generation works well while on subdomain.</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("Urls")
        </div>
    </div>
</div>
