@model string
@{
    ViewData["Title"] = "Home Page";
    var bootstrapBtn = new { @@class = "btn btn-primary btn-lg btn-block" };
}

@await Html.PartialAsync("_NavPills")
@await Html.PartialAsync("_DisplayModel", Model)
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @await Html.PartialAsync("Urls")
        </div>
    </div>
</div>
